/* -------------------- GENERAL ---------------------- */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

div {
    
}

a:link{
    text-decoration: none!important;
}

/* ------------------- MENU --------------------- */

#menudiv {
    position: absolute;
    width: 100%;
    color: white;
    background: none;
    z-index: 1;
}

.nav-item {
    width: 135px;
    font-size: 11px;
}

/* -------------------- HEADER --------------------- */



/* ------------------- ABOUT ME --------------------- */



/* ------------------ MY SKILLS --------------------- */



/* ---------------- DESIGNER QUOTES ------------------ */



/* ----------------- MY PORTFOLIO ------------------- */



/* ----------------- WHY CHOOSE ME ------------------- */



/* ------------------ MY SERVICES -------------------- */



/* ------------------ MY PRICING -------------------- */



/* ----------- WHAT CUSTOMERS ARE SAYING ------------- */



/* -------------------- HIRE ME ---------------------- */



/* -------------------- FOOTER ---------------------- */



/* -------------------- THE END ---------------------- */